<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="beta" fileName="logs/beta.log">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name="prod_register" fileName="logs/prod_register.log">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>>
        </File>
    </appenders>


    <loggers>
        <root level="info">
            <appender-ref ref="Console"/>
            <appender-ref ref="beta" level="info"/>
            <appender-ref ref="prod_register" level="warn"/>
        </root>
    </loggers>

</configuration>